


<div class="product-tab-content product-questions tab-content border-bottom pb-2 mb-4"
     id="scrollspyHeading5">
    <div class="product-tab-title mb-0">
        <h2>پرسش و پاسخ</h2>
        <h3 class="subtitle">Samsung Galaxy M31 SM-M315F/DSN Dual SIM 128GB Mobile Phone</h3>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5 mb-3">
            <div class="ui-sticky ui-sticky-top pt-5 z-index-0">
                <!-- start of questions-sidebar -->
                <div class="comments-sidebar">
                    <div class="border rounded p-2">
                        <div class="border-bottom pb-2 mb-2">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="flexCheckDefault1">
                                <label class="form-check-label" for="flexCheckDefault1">
                                    پرسش های پاسخ داده شده
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value=""
                                       id="flexCheckDefault2">
                                <label class="form-check-label" for="flexCheckDefault2">
                                    پرسش های بی پاسخ
                                </label>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <span>پرسش های من</span>
                            <div class="form-check form-switch mb-0">
                                <input class="form-check-input ms-0" type="checkbox"
                                       id="flexSwitchCheckDefault">
                                <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="mb-2">پرسش خود را درباره این کالا بیان کنید</div>
                        <button class="btn btn-block btn-outline-primary"
                                data-remodal-target="add-question-modal">
                            ثبت
                            پرسش
                        </button>
                    </div>
                </div>
                <!-- end of questions-sidebar -->
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7 pt-5">
            <!-- start of filter-questions -->
            <div class="filter-comments mb-4">
                <div class="filter-comments-title me-2">
                    <i class="ri-list-settings-fill me-1"></i>
                    <span>مرتب‌سازی پرسش‌ها بر اساس:</span>
                </div>
                <div class="filter-comments-options">
                    <button class="filter-comments-option active">جدیدترین پرسش ها</button>
                    <button class="filter-comments-option">مفیدترین پاسخ ها</button>
                </div>
            </div>
            <!-- end of filter-questions -->
            <!-- start of questions -->
            <div class="comments">
                <!-- start of question -->
                <div class="comment question">
                    <div class="comment-body border-bottom-0">
                        <div class="question-title fw-bold">
                            سلام لطفا کسایی که خریدن جواب بدن
                            این گوشی 4g+میشه؟مشکل آنتن دهی نداره؟
                        </div>
                    </div>
                    <div class="comment-footer flex-column align-items-start">
                        <div class="expandable-text pt-1 w-100" style="height: 160px;">
                            <div class="expandable-text_text">
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <a class="link border-bottom-0" data-bs-toggle="collapse"
                                       href="#collapseAnswer01" role="button" aria-expanded="false"
                                       aria-controls="collapseAnswer01">
                                        ثبت پاسخ جدید <i class="ri-arrow-left-s-line"></i>
                                    </a>
                                </div>
                                <div class="collapse" id="collapseAnswer01">
                                    <div class="rounded bg-light p-3">
                                        <form action="#">
                                            <div class="form-element-row mb-3">
                                                <label class="label">
                                                    به این پرسش پاسخ
                                                    دهید*
                                                </label>
                                                <textarea rows="3" class="form-control"
                                                          placeholder="متن پاسخ"></textarea>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="mb-2">
                                                    ثبت پرسش به معنی موافقت با <a href="#"
                                                                                  class="link border-bottom-0">
                                                        قوانین
                                                        انتشار در سایت
                                                    </a> است.
                                                </div>
                                                <div class="mb-2">
                                                    <button class="btn btn-sm btn-outline-danger me-2"
                                                            type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseAnswer01"
                                                            aria-expanded="false"
                                                            aria-controls="collapseAnswer01">
                                                        بستن
                                                    </button>
                                                    <button class="btn btn-sm btn-primary">
                                                        ثبت
                                                        پاسخ
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="expandable-text-expand-btn justify-content-start text-sm">
                                <span class="show-more active">
                                    مشاهده پاسخ های دیگر <i class="ri-arrow-down-s-line ms-2"></i>
                                </span>
                                <span class="show-less d-none">
                                    مشاهده کمتر <i class="ri-arrow-up-s-line ms-2"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of question -->
                <!-- start of question -->
                <div class="comment question">
                    <div class="comment-body border-bottom-0">
                        <div class="question-title fw-bold">
                            سلام خسته نباشید m31 بهتره یا a71 ??
                        </div>
                    </div>
                    <div class="comment-footer flex-column align-items-start">
                        <div class="expandable-text pt-1 w-100" style="height: 160px;">
                            <div class="expandable-text_text">
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            اگه به امتیازات رجوع کنید میبین که a71
                                            در دوربین خیلی ضعیفه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">ناشناس</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۹</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="border-bottom pb-2 mb-4">
                                    <div class="d-flex align-items-center mb-3">
                                        <span class="text-sm me-4">پاسخ</span>
                                        <p class="mb-0">
                                            دوستان من ۱۰ روزه خریدم ساخت ویتنام هست
                                            و فقط 4G میشه
                                        </p>
                                    </div>
                                    <div class="d-flex align-items-center flex-grow-1 justify-content-between w-100">
                                        <div>
                                            <span class="text-sm me-2">حسین کشاورزی</span>
                                            <span class="badge badge-sm bg-info rounded-pill">خریدار</span>
                                        </div>
                                        <div>
                                            <span class="me-2">
                                                آیا این پاسخ برای شما مفید
                                                بود؟
                                            </span>
                                            <button class="comment-like">۶</button>
                                            <button class="comment-dislike"></button>
                                        </div>
                                    </div>
                                </div>
                                <div class="mb-5">
                                    <a class="link border-bottom-0" data-bs-toggle="collapse"
                                       href="#collapseAnswer02" role="button" aria-expanded="false"
                                       aria-controls="collapseAnswer02">
                                        ثبت پاسخ جدید <i class="ri-arrow-left-s-line"></i>
                                    </a>
                                </div>
                                <div class="collapse" id="collapseAnswer02">
                                    <div class="rounded bg-light p-3">
                                        <form action="#">
                                            <div class="form-element-row mb-3">
                                                <label class="label">
                                                    به این پرسش پاسخ
                                                    دهید*
                                                </label>
                                                <textarea rows="3" class="form-control"
                                                          placeholder="متن پاسخ"></textarea>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                <div class="mb-2">
                                                    ثبت پرسش به معنی موافقت با <a href="#"
                                                                                  class="link border-bottom-0">
                                                        قوانین
                                                        انتشار
                                                    </a> است.
                                                </div>
                                                <div class="mb-2">
                                                    <button class="btn btn-sm btn-outline-danger me-2"
                                                            type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapseAnswer02"
                                                            aria-expanded="false"
                                                            aria-controls="collapseAnswer02">
                                                        بستن
                                                    </button>
                                                    <button class="btn btn-sm btn-primary">
                                                        ثبت
                                                        پاسخ
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="expandable-text-expand-btn justify-content-start text-sm">
                                <span class="show-more active">
                                    مشاهده پاسخ های دیگر <i class="ri-arrow-down-s-line ms-2"></i>
                                </span>
                                <span class="show-less d-none">
                                    ثبت پاسخ جدید <i class="ri-arrow-drop-left-line ms-2"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end of question -->
            </div>
            <!-- end of questions -->
        </div>
    </div>
</div>