@* @model MessageVM



<form asp-action="CreateMessage" class="add-ticket-form">
    <div class="row">
        <div class="col-12">
            <!-- start of form-element -->
            <div class="form-element-row mb-3">
                <textarea rows="3" class="form-control" placeholder="متن پیام" asp-for="Text"></textarea>
            </div>
            <!-- end of form-element -->
        </div>
        <div class="col-12 d-flex justify-content-between align-items-center mb-3">
            <!-- start of file attachment and sticker buttons -->
            <div>
                <label class="btn btn-secondary btn-file">
                    <i class="fa fa-paperclip"></i> فایل
                    <input type="file" class="d-none" asp-for="FilePath">
                </label>
                <button type="button" class="btn btn-secondary">
                    <i class="fa fa-smile"></i> استیکر
                </button>
            </div>
            <!-- end of file attachment and sticker buttons -->
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-paper-plane"></i> ارسال
            </button>
        </div>
    </div>
</form>  *@