@model TicketVM




<div class="col-xl-9 col-lg-8 col-md-7">
    <div class="ui-box bg-white mb-5">
        <div class="ui-box-title">ایجاد تیکت جدید</div>
        <div class="ui-box-subtitle">
            فرم زیر را پر کنید (توضیحات کامل تر روند پاسخ دهی را کوتاه تر
            می
            کند.)
        </div>
        <div class="ui-box-content">
            <form asp-action="Create" asp-controller="UserTicket" class="add-ticket-form" method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-element-row mb-5">
                            <label asp-for="Title" class="label">موضوع</label>
                            <input type="text" asp-for="Title" class="form-control" placeholder="موضوع تیکت">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-element-row mb-5">
                            <label asp-for="Section" class="control-label">بخش</label>
                            <select asp-for="Section" class="form-control"
                                    asp-items="Html.GetEnumSelectList<TicketsEnums.Section>()">
                                <option value="">انتخاب کنید</option>
                            </select>
                            <span asp-validation-for="Section" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-element-row mb-5">
                            <label asp-for="Priority" class="control-label"></label>
                            <select asp-for="Priority" class="form-control"
                                    asp-items="Html.GetEnumSelectList<TicketsEnums.Priority>()">
                                <option value="">انتخاب کنید</option>
                            </select>
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-element-row mb-5">
                            <label asp-for="Message" class="label">پیام</label>
                            <textarea asp-for="Message" rows="5" class="form-control"
                                      placeholder="متن پیام"></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-element-row form-element-row-file mb-5">
                            <div class="text-center">
                                <div class="fs-6 fw-bold text-dark">
                                    فایل خود را بارگذاری کنید .
                                </div>
                                <div class="fs-7 fw-bold text-muted mb-4">
                                    ( jpeg یا  PNG یا  PDF )
                                </div>
                            </div>
                            <div class="custom-input-file">
                                <input type="file" accept=".jpg , .png , .pdf" class="custom-input-file-input" onchange="readfile(this)">
                                <label asp-for="FilePath" class="custom-input-file-label">
                                    <span class="label">
                                        <i class="ri-arrow-up-fill me-1"></i> انتخاب عکس یا pdf
                                    </span>
                                </label>
                            </div>
                            <div class="text-center">
                                <span id="InvalidFile" asp-validation-for="FilePath" class="text-danger"></span>
                                <div id="files"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary px-4">
                            ثبت و ارسال <i class="ri-ball-pen-line ms-2"></i>
                        </button>
                    </div>
                </div>
            </form>
            <div>
                <span>
                    <button asp-action="UserTickets">برگشت به لیست تیکت ها</button>
                </span>
            </div>
        </div>
    </div>
</div>



