@model E_Shop.Domain.ViewModels.ContactUsMessageViewModel

<div class="card-center container">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <div class=" align-content-center mx-5">
                <!-- Chat History -->
                <div class="col app-chat-history">
                    <div class="chat-history-wrapper">
                        <div class="chat-history-header border-bottom">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex overflow-hidden align-items-center">
                                    <div class="flex-shrink-0 avatar">
                                        <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" data-bs-toggle="sidebar" data-overlay data-target="#app-chat-sidebar-right" />
                                    </div>
                                    <div class="chat-contact-info flex-grow-1 ms-3">
                                        <h6 class="m-0">@Model.FullName</h6>
                                        <small class="user-status text-muted">@Model.Email</small>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center">
                                    
                                    <div class="dropdown">
                                        <i class="bx bx-dots-vertical-rounded cursor-pointer fs-4" id="chat-header-actions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
                                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="chat-header-actions">
                                            <a class="dropdown-item" asp-action="Index">لغو ارسال پیام</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>@Model.Title</div>
                        <div class="my-4">
                            @Model.Message
                        </div>
                        <!-- Chat message form -->
                        <div class="chat-history-footer">
                            <partial name="_ContactUsAnswerForm" model=" new  E_Shop.Application.ViewModels.ContactUsAnswerViewModel {Id = Model.Id}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>