



<div class="profile-user-info py-3 ui-box bg-white">
    <div class="profile-detail">
        <div class="d-flex align-items-center">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="profile-avatar me-3">
                    <img src="./theme-assets/images/avatar/default.png" alt="avatar">

                    <div class="profile-info">
                        <a href="User" class="text-decoration-none text-dark fw-bold mb-2">
                            @User.GetUsersName()
                        </a>
                        <div class="text-muted fs-7 fw-light"><small> @User.GetUserEmail() </small></div>
                    </div>
                </div>
            }
            else
            {
                <div class="profile-avatar me-3">
                    <img src="./theme-assets/images/avatar/default.png" alt="avatar">

                    <div class="profile-info">
                        <a href="Register" class="text-decoration-none text-dark fw-bold mb-2">ثبت نام</a>
                        <br />
                        <a href="Login" class="text-decoration-none text-dark fw-bold mb-2">ورود</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="user-options">
        <ul>
            <li>
                <span class="label">کیف پول</span>
                <span class="detail">
                    <span class="d-block">
                        ۰ <span class="currency fs-7 fw-bold">تومان</span>
                    </span>
                    <a href="#"
                       class="link border-bottom-0 text-info fs-7 fw-bold">
                        افزایش
                        موجودی <i class="ri-arrow-left-s-line"></i>
                    </a>
                </span>
            </li>
            <li>
                <span class="label">باشگاه مشتریان</span>
                <span class="detail">
                    <span class="d-block">
                        ۰ <span class="score text-muted fs-7">امتیاز</span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
</div>
<ul class="nav nav-items-with-icon flex-column">
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-file-list-3-line"></i>
            سفارش
            های من
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-heart-3-line"></i> لیست
            ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-action="UserTickets" asp-controller="UserTicket">
            <i class="nav-link-icon ri-chat-1-line"></i>
            تیکت ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-chat-1-line"></i>
            نظرات
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-map-pin-line"></i> نشانی
            ها
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-gift-line"></i> کارت های
            هدیه
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-time-line"></i> بازدید
            های
            اخیر
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="nav-link-icon ri-user-line"></i> اطلاعات
            حساب
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="Logout">
            <i class="nav-link-icon ri-logout-box-r-line"></i>
            خروج
        </a>
    </li>
</ul>