@* @model IEnumerable<TicketVM> *@



<ul class="list-unstyled chat-contact-list pt-1" id="chat-list">
    <li class="chat-contact-list-item chat-contact-list-item-title">
        <h5 class="text-primary mb-0">گفت و گو ها</h5>
    </li>
    @* @if (!Model.Any()) *@
    {
        <li class="chat-contact-list-item chat-list-item-0">
            <h6 class="text-muted mb-0">هیچ گفت و گویی یافت نشد</h6>
        </li>
    }
    else
    {
        @* @foreach (var item in Model) *@
        {
            <li class="chat-contact-list-item active">
                <a class="d-flex align-items-center">
                    <div class="flex-shrink-0 avatar avatar-offline">
                        <img src="/assets/img/avatars/2.png" alt="Avatar" class="rounded-circle" />
                    </div>
                    <div class="chat-contact-info flex-grow-1 ms-3">
                        @* <h6 class="chat-contact-name text-truncate m-0">@item.User.FirstName + " " + @item.User.LastName</h6> *@
                        <p class="chat-contact-status text-truncate mb-0 text-muted">

                        </p>
                    </div>
                    @* <small class="text-muted mb-auto">@item.LastModifiedDate</small> *@
                </a>
            </li>
        }
    }
</ul>

