@model AddProductGalleryViewModel


<form class="add-new-product pt-0 fv-plugins-bootstrap5 fv-plugins-framework" id="addNewProductGalleryForm" novalidate="novalidate" method="post" asp-action="AddProductGallery" enctype="multipart/form-data">
    <input type="hidden" asp-for="ProductId" value="@ViewData["ProductId"]" />
    
    <div class="row">

        <div class="mb-3 col-md-6">
            <label class="form-label">تصویر</label>
            <input multiple type="file" class="form-control" asp-for="Images">
            <span asp-validation-for="Images" class="text-danger"></span>
        </div>

    </div>

    <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">افزودن گالری محصول</button>
    <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" asp-controller="Products" asp-action="ProductIndex">لغو</button>
</form>


