

<div class="gallery-thumbs">
    <ul>
        <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/01.png">
            <img src="./theme-assets/images/gallery/01.png" alt="">
        </li>
        <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/02.png">
            <img src="./theme-assets/images/gallery/02.png" alt="">
        </li>
        <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/03.png">
            <img src="./theme-assets/images/gallery/03.png" alt="">
        </li>
        <li data-fancybox="gallery-a" data-src="./theme-assets/images/gallery/04.png">
            <img src="./theme-assets/images/gallery/04.png" alt="">
        </li>
    </ul>
</div>