@using E_Shop.Application.ViewModels.ProductsViewModel
@model List<ProductGalleryViewModel>

<div class="gallery-thumbs">
    <ul>
        @foreach (var item in Model)
        {
            <li data-fancybox="gallery-a" data-src="/theme-assets/images/products/@item.ImageName">
                <img src="/theme-assets/images/products/@item.ImageName" alt="@item.ImageName">
            </li>
        }

    </ul>
</div>