

<div class="product-tab-content product-params tab-content border-bottom pb-2 mb-4"
     id="scrollspyHeading3">
    <div class="product-tab-title">
        <h2>مشخصات کالا</h2>
        <h3 class="subtitle">Apple iPhone 13 A2634 Dual SIM 128GB And 4GB RAM Mobile Phone</h3>
    </div>
    <div class="expandable-text pt-1" style="height: 540px;">
        <div class="expandable-text_text fa-num">
            <!-- start of params-list -->
            <div class="params-list">
                <div class="params-list-title">مشخصات کلی</div>
                <ul>
                    <li>
                        <span class="param-title">ابعاد</span>
                        <span class="param-value">159.2x75.1x8.9 میلی‌متر</span>
                    </li>
                    <li>
                        <span class="param-title">توضیحات سیم کارت</span>
                        <span class="param-value">سایز نانو (8.8 × 12.3 میلی‌متر)</span>
                    </li>
                    <li>
                        <span class="param-title">وزن</span>
                        <span class="param-value">191 گرم</span>
                    </li>
                    <li>
                        <span class="param-title">ساختار بدنه</span>
                        <span class="param-value">
                            <span>قاب جلو ساخته شده از شیشه با پوشش محافظ Gorilla Glass 3</span>
                            <span>قاب پشتی و فریم ساخته شده از پلاستیک</span>
                        </span>
                    </li>
                    <li>
                        <span class="param-title">ویژگی‌های خاص</span>
                        <span class="param-value">
                            مجهز به حس‌گر اثرانگشت , فبلت , مناسب عکاسی ,
                            مجهز به حس‌گر تشخیص چهره
                        </span>
                    </li>
                    <li>
                        <span class="param-title">تعداد سیم کارت</span>
                        <span class="param-value">دو سیم کارت</span>
                    </li>
                    <li>
                        <span class="param-title">زمان معرفی</span>
                        <span class="param-value">25 فوریه 2020</span>
                    </li>
                    <li>
                        <span class="param-title">شیار مجزا برای کارت حافظه</span>
                        <span class="param-value">دارد</span>
                    </li>
                    <li>
                        <span class="param-title">شناسه کالا</span>
                        <span class="param-value">2800000350215</span>
                    </li>
                </ul>
                <div class="params-list-title">پردازنده</div>
                <ul>
                    <li>
                        <span class="param-title">تراشه</span>
                        <span class="param-value">Exynos 9611 (10nm) Chipset</span>
                    </li>
                    <li>
                        <span class="param-title">پردازنده‌ی مرکزی</span>
                        <span class="param-value">
                            Quad-core Cortex-A73 + Quad-core Cortex-A53
                            CPU
                        </span>
                    </li>
                    <li>
                        <span class="param-title">نوع پردازنده</span>
                        <span class="param-value">64 بیت</span>
                    </li>
                    <li>
                        <span class="param-title">فرکانس پردازنده‌ی مرکزی</span>
                        <span class="param-value">2.3 و 1.7 گیگاهرتز</span>
                    </li>
                    <li>
                        <span class="param-title">پردازنده‌ی گرافیکی</span>
                        <span class="param-value">Mali-G72 MP3 GPU</span>
                    </li>
                </ul>
            </div>
            <!-- end of params-list -->
        </div>
        <div class="expandable-text-expand-btn justify-content-start text-sm">
            <span class="show-more active">
                نمایش همه مشخصات کالا <i class="ri-arrow-down-s-line ms-2"></i>
            </span>
            <span class="show-less d-none">
                فقط نمایش مشخصات کلی کالا <i class="ri-arrow-up-s-line ms-2"></i>
            </span>
        </div>
    </div>
</div>
