@model ConfirmEmailVM



<h4 class="mb-2">تایید ایمیل 💬</h4>
<p class="text-start mb-4">
    We sent a verification code to your mobile. Enter the code from the mobile in the field below.
    <span class="fw-bold d-block mt-2">******1234</span>
</p>
<p class="mb-0 fw-semibold">Type your 6 digit security code</p>
<form id="confirmEmail" asp-action="ConfirmEmail" method="POST">
    <input type="hidden" name="otp" asp-for="ActivationCode" />
    <div class="mb-3">
        <div class="auth-input-wrapper align-items-center ">
            <input type="text"
                   class="form-control auth-input "
                   maxlength="6"
                   autofocus asp-for="ActivationCode" />
        </div>
        <input type="hidden" name="otp" asp-for="ActivationCode" />
    </div>
    <button class="btn btn-primary d-grid w-100 mb-3">تایید اکانت</button>
    <div class="text-center">
        کد را دریافت نکرده اید ؟
        <a href="javascript:void(0);"> Resend </a>
    </div>
</form>

