@model ForgetPasswordVM




<h4 class="mb-2">فراموشی رمز عبور 🔒</h4>
<p class="mb-4">لطفا ایمیل خود را برای ارسال کد بازیابی وارد کنید </p>
<form id="forgetPassword" class="mb-3" method="POST" asp-action="ForgetPassword">
    <div class="mb-3">
        <label asp-for="EmailAddress" class="form-label">ایمیل</label>
        <input type="text"
               class="form-control"
               placeholder="Enter your email"
               autofocus
               asp-for="EmailAddress" />
    </div>
    <button class="btn btn-primary d-grid w-100">ارسال کد بازیابی</button>
</form>
<div class="text-center">
    <a href="Login" class="d-flex align-items-center justify-content-center">
        <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
        برگشت به صفحه ی ورود
    </a>
</div>