@model ForgetPasswordVM


<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">فراموشی رمز عبور</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-action="ForgetPassword" method="post" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input type="text" class="form-control" placeholder="ایمیل" asp-for="EmailAddress">
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                    <button class="btn btn-primary d-grid w-100">ارسال کد بازیابی</button>
                </div>
                <!-- end of form-element -->
            </form>
            <p class="text-center">
                <a asp-action="Login">
                    <span>برگشت به صفحه ی ورود</span>
                </a>
            </p>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>
