@using E_Shop.Application.ViewModels.AccountViewModels
@model LoginVM


<main class="page-content page-auth">
    <!-- start of auth-container -->
    <div class="auth-container">
        <div class="auth-title mb-3">ورود</div>
        <!-- start of auth-box -->
        <div class="auth-box ui-box">
            <!-- start of auth-form -->
            <form asp-action="Login" method="post" class="auth-form">
                <!-- start of form-element -->
                <div class="form-element-row mb-5">
                    <input type="text" class="form-control" placeholder="ایمیل" asp-for="EmailAddress">
                    @Html.ValidationMessageFor(model => model.EmailAddress, "", new { @class = "text-danger" })
                </div>
                <div class="form-element-row mb-5">
                    <input type="text" class="form-control" placeholder="رمز عبور" asp-for="Password">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="remember-me" />
                        <label class="form-check-label" for="remember-me"> مرا به خاطر بسپار </label>
                    </div>
                </div>
                <div class="form-element-row mb-3">
                    <button class="btn btn-primary">ورود</button>
                </div>
                <p class="text-center">
                    <span>تا به حال ثبت نام نکرده اید ؟  </span>
                    <a asp-action="Register">
                        <span>ثبت نام</span>
                    </a>
                </p>
                <p class="text-center">
                    <a asp-action="ForgetPassword">
                        <span>فراموشی رمز عبور</span>
                    </a>
                </p>
                <!-- end of form-element -->
                <!-- start of form-element -->
                <div class="form-element-row">
                    <div>
                        با ورود و یا ثبت نام در سایت شما <a href="#" class="link">
                            شرایط و
                            قوانین
                        </a> استفاده
                        از تمام سرویس های
                        سایت و <a href="#" class="link">قوانین حریم خصوصی</a> آن را می‌پذیرید.
                    </div>
                </div>
                <!-- end of form-element -->
            </form>
            <!-- end of auth-form -->
        </div>
        <!-- end of auth-box -->
    </div>
    <!-- start of auth-container -->
</main>



