@model ResetPasswordVM




<h4 class="mb-2">بازیابی کلمه ی عبور 🔒</h4>
<p class="mb-4"> <span class="fw-bold">کد بازیابی ارسال شده را وارد کنید</span></p>
<form id="resetPassword" class="mb-3" method="POST" asp-action="ResetPassword">
    <input type="hidden" asp-for="EmailAddress" />
    <div class="mb-3 form-password-toggle">
        <label asp-for="Password" class="form-label" for="password">کلمه ی عبور جدید</label>
        <div class="input-group input-group-merge">
            <input type="password"
                   class="form-control"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-describedby="newPassword"
                   asp-for="Password" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="RePassword" class="form-label" for="confirm-password">تکرار کلمه ی عبور</label>
        <div class="input-group input-group-merge">
            <input type="password"
                   class="form-control"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-describedby="rePassword"
                   asp-for="RePassword" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form">
        <label asp-for="ActivationCode" class="form-label" for="confirm-code">کد ارسال شده را وارد کنید</label>
        <div class="input-group input-group-merge">
            <input type="number"
                   class="form-control"
                   placeholder="کد تایید ارسالی"
                   asp-for="ActivationCode" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <button class="btn btn-primary d-grid w-100 mb-3">تایید کلمه ی عبور جدید</button>
    <a class="btn btn-primary d-grid w-100 mb-3" asp-action="ReSend" asp-route-email="@Model.EmailAddress">ارسال کد جدید</a>
    <div class="text-center">
        <a href="Login">
            <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
            بازگشت به صفحه ی ورود
        </a>
    </div>
</form>
