<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <partial name="_HeadRef" />
    <title>یکتا کالا | خانه</title>
</head>

<body>
    <partial name="_Header" />
    @RenderBody();
    <partial name="_Footer" />
    @await RenderSectionAsync("Scripts", required: false)
    <partial name="_BotScripts" />
    <partial name="_ErrorMessage">
</body>

</html>