
<head>

    <partial name="_MetaTags" />

    <title>@ViewData["Title"] - فروشگاه یکتا کالا</title>

    <script type="importmap"></script>

    <partial name="_HeaderRefrences" />

</head>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_FooterRefrences" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
