<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="index-1.html">خانه</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">وبلاگ</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">پرسش های متداول</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">تماس با ما</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">درباره ما</a>
    </li>
</ul>