<div class="product-gallery">
    <div class="gallery-img-container">
        <!-- Slider main container -->
        <div class="swiper gallery-swiper-slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="gallery-img">
                        <img src="./theme-assets/images/gallery/01.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-img">
                        <img src="./theme-assets/images/gallery/02.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-img">
                        <img src="./theme-assets/images/gallery/03.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-img">
                        <img src="./theme-assets/images/gallery/04.png" alt="">
                    </div>
                </div>
            </div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
        <!-- Slider main container -->
        <div class="swiper gallery-thumbs-swiper-slider">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="gallery-thumb">
                        <img src="./theme-assets/images/gallery/01.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-thumb">
                        <img src="./theme-assets/images/gallery/02.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-thumb">
                        <img src="./theme-assets/images/gallery/03.png" alt="">
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="gallery-thumb">
                        <img src="./theme-assets/images/gallery/04.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>