<div class="page-header--top-right">
    <div class="notification-container notification-light">
        <div class="swiper notification-swiper-slider mb-5">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                    <div class="notification-item">
                        <div class="notification-item--text">خوش آمدید 👋</div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="notification-item">
                        <div class="notification-item--text">
                            زمستان امسال با تخفیفات ويژه 😍
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="notification-item">
                        <div class="notification-item--text">
                            به باشگاه مشتریان ما بپیوندید 😎
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>