<div class="product-tab-content product-comments tab-content border-bottom pb-2 mb-4"
     id="scrollspyHeading4">
    <div class="product-tab-title mb-0">
        <h2>امتیاز و دیدگاه کاربران</h2>
        <h3 class="subtitle">Samsung Galaxy M31 SM-M315F/DSN Dual SIM 128GB Mobile Phone</h3>
    </div>
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5 mb-3">
            <div class="ui-sticky ui-sticky-top pt-5 z-index-0">
                <!-- start of comments-sidebar -->
                <div class="comments-sidebar">
                    <div class="comments-sidebar-rating">
                        <div class="comments-sidebar-rating-main me-2">۴.۱</div>
                        <div class="comments-sidebar-rating-desc">از ۵</div>
                    </div>
                    <div class="comments-sidebar-rating-bottom">
                        <div class="stars-container justify-content-end">
                            <div class="stars-text ms-2">از مجموع ۹۴۰ امتیاز</div>
                            <div class="stars">
                                <div class="stars-val" style="width: 70%;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="content-expert-rating mt-4">
                        <div class="mb-3">
                            <div class="content-expert-rating-title">کیفیت ساخت</div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="content-expert-rating-title">
                                ارزش خرید به نسبت قیمت
                            </div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="content-expert-rating-title">نوآوری</div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="content-expert-rating-title">امکانات و قابلیت ها</div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="content-expert-rating-title">سهولت استفاده</div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="content-expert-rating-title">طراحی و ظاهر</div>
                            <div class="content-expert-rating-value-wrapper">
                                <div class="content-expert-rating-value" style="width: 90%;">
                                </div>
                                <div class="content-expert-rating-value-label">۴.۱</div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-2">دیدگاه خود را درباره این کالا بیان کنید</div>
                    <button class="btn btn-block btn-outline-primary">
                        افزودن
                        دیدگاه
                    </button>
                </div>
                <!-- end of comments-sidebar -->
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7 pt-5">
            <!-- start of filter-comments -->
            <div class="filter-comments mb-4">
                <div class="filter-comments-title me-2">
                    <i class="ri-list-settings-fill me-1"></i>
                    <span>مرتب سازی دیدگاه ها بر اساس:</span>
                </div>
                <div class="filter-comments-options">
                    <button class="filter-comments-option active">جدیدترین دیدگاه ها</button>
                    <button class="filter-comments-option">مفیدترین دیدگاه ها</button>
                    <button class="filter-comments-option">دیدگاه خریداران</button>
                </div>
            </div>
            <!-- end of filter-comments -->
            <!-- start of comments -->
            <div class="comments">
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
                <!-- start of comment -->
                <div class="comment">
                    <div class="comment-header">
                        <span>۱۵ تیر ۱۴۰۰</span>
                        <span>امیر محمد اکبرپور</span>
                    </div>
                    <div class="comment-body">
                        <p>
                            گوشی مناسبی هست نسبت به قیمتش من خودم با ایفون X مقایسه کردم که در
                            بعضی از برنامه ها عقب میموند بسیار گوشی خوبی هست در کل
                        </p>
                        <ul>
                            <li class="comment-evaluation positive">دوربین قوی</li>
                            <li class="comment-evaluation positive">باتری 6000</li>
                            <li class="comment-evaluation positive">خوش دست</li>
                            <li class="comment-evaluation positive">
                                مناسب برای کار های حدودا
                                سنگین و بالاتر
                            </li>
                            <li class="comment-evaluation negative">
                                حسگر اثر انگشت کمی ضعیفه
                            </li>
                        </ul>
                    </div>
                    <div class="comment-footer">
                        <span class="me-2">آیا این دیدگاه برایتان مفید بود؟</span>
                        <button class="comment-like">۷</button>
                        <button class="comment-dislike">۲</button>
                    </div>
                </div>
                <!-- end of comment -->
            </div>
            <!-- end of comments -->
        </div>
    </div>
</div>